---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

import {
  getRoutingPathSummaryList,
  type AstroContents,
} from '@/lib/utils/routing';

export async function getStaticPaths() {
  const flows = await getCollection('flows');
  const paths = await getRoutingPathSummaryList(flows as unknown as AstroContents[]);
  return paths;
}

const { userId } = Astro.params;
const { flowList } = Astro.props;
const origin = Astro.url.origin;
---

<BaseLayout>
  <h2 class="text-2xl font-bold">{userId}の行動表リスト</h2>
  {
    flowList.map((flow) => {
      const url = new URL(flow.slug, origin);
      return (
        <div>
          <a href={`${url}`} class="text-blue-600 underline">{flow.title}</a>
        </div>
      );
    })
  }
</BaseLayout>