---
import GranblueActionLayout from "@/layouts/GranblueActionLayout.astro";
import { ActionTableContainer } from "@/components/organisms/ActionTableContainer";
import sampleDataJson from "@/content/sample_data.json"; // JSONファイルをインポート

// JSONから必要な部分（ここでは flow 配列）を抽出して利用します
const data = sampleDataJson;
---

<GranblueActionLayout title="グラブル行動表">
  <div slot="awareness">
    <div>
      <pre>{data.always}</pre>
    </div>
  </div>

  <ActionTableContainer
    slot="action-table"
    client:load
    data={data.flow}
    buttonPosition="right"
  />
</GranblueActionLayout>