---
import GranblueActionLayout from "@/layouts/GranblueActionLayout.astro";
import { ActionTableContainer } from "@/components/organisms/ActionTableContainer";
import sampleDataJson from "@/content/sample_data.json"; // JSONファイルをインポート

// JSONから必要な部分（ここでは flow 配列）を抽出して利用します
const always = sampleDataJson.always;
const sampleData = sampleDataJson.flow;
---

<GranblueActionLayout title="グラブル行動表">
  <div slot="awareness">
    <div>
      <h2>常時</h2>
      <pre>{always}</pre>
    </div>
  </div>

  <ActionTableContainer
    slot="action-table"
    client:load
    data={sampleData}
    buttonPosition="right"
  />
</GranblueActionLayout>